<h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in in Toronto City</font></h1>

### Download Library

In [6]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

### Download and Explore Dataset

We will scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

In [7]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

df_full_HTML = pd.read_html(url)
print(len(df_full_HTML))

3

It seems that there are three tables. We will only take the first one.

In [8]:
df=df_full_HTML[0]

Lets look at the concise summary of the DataFrame

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code      180 non-null object
Borough          180 non-null object
Neighbourhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

Lets take a quick look by the head function.

In [15]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

 ### Remove the cells with a borough that is "Not assigned"

In [16]:
df_1=df[df['Borough']!='Not assigned']

Lets take a quick look by the head function.

In [17]:
df_1.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [18]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
Postal Code      103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

### Combining more than one neighborhood in one postal code area.

In [19]:
df_2=df_1

In [20]:

df_2['Neighbourhood'] = df_2[['Postal Code','Borough','Neighbourhood']].groupby(['Postal Code'])['Neighbourhood'].transform(lambda x: ','.join(x))

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_2.drop_duplicates()
df_2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [22]:
df_2.reset_index(drop=True,inplace=True)
df_2.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Showing the shape of the dataframe

In [23]:
df_2.shape

(103, 3)

### Download the dataframe to a csv file

In [25]:
df_2.to_csv("Neighborhood for Canada.csv",index=False)